@import "variables";

#servicesSection {
  height: fit-content;
  padding-top: $titleSecondaryPadding;

  h2 {
    font: $fontTitleH2;
    text-align: center;
  }

  .servicesContentWrapper {
    margin: 0 20px;

    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &:last-child {
      margin-bottom: 30px;
    }

    ul {
      margin-top: 10px;
      list-style: none;

      li {
        position: relative;
        margin-top: 18px;
        margin-bottom: 18px;

        &:before {
          position: absolute;
          top: -3px;
          left: -48px;
          width: 30px;
          height: 30px;
          content: '';
          transform: rotate(180deg);
          border-radius: 100%;
          background: #ffffff url("../img/arrow.png") no-repeat center;
          -webkit-background-size: 14px;
          background-size: 14px;
          box-shadow: 0 0 5px rgba(0, 0, 0, .1);
        }

        span {
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  #servicesSection {

    h2 {
      font: $fontTitleH2Mobile;
    }
  }
}