// fonts
$fontPrimary: 'Montserrat', sans-serif;
$fontSecondary: 'Roboto', sans-serif;
$fontTitleH2: 500 48px/60px $fontSecondary;
$fontTitleH2Mobile: 500 26px/32px $fontSecondary;
// sizing
$contentMaxWidth1920: 1240px;
$contentMaxWidth1280: 1000px;
$contentMaxWidth1024: 900px;
//margin & padding
$titleSecondaryPadding: 40px;
// colors
$colorServiceHoverColor: #00c6c0;
$firstSectionBackgroundColor: #232f3e;
$descriptionBackgroundColor: #476180;
$headerColor: white;
$h1AutoTypeColor: #e04734;
$industriesMenuElementSelected: #1c385d;
$hamMenuBackgroundColor: #35485e;